.video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px; /* Fixed height */
    width: 285px; /* Fixed width */
    border: 4px solid black; /* Border */
    border-radius: 1rem; /* Rounded corners */
    background-color: #000; /* Light gray background */
    box-shadow: 5px 5px 2.5px 6px rgb(0, 0, 0); /* Shadow effect */
    z-index: 1;
  }
  

  .video {
    position: absolute;
    z-index: -1;
    display: flex;
    border-radius: 2.5rem;
  }


  .video-button-style{
    background-color: #CCFF00;
    border: 1px solid #301f4b;
    border-radius: 10px;
    padding: 5px;
  }

  .video-button-style:hover{
    background-color: #301f4b;
    border: 1px solid #CCFF00;
    border-radius: 10px;
  }

  .video-button-style a{
    color: black;
    font-weight: bold;
  }

  .video-button-style a:hover{
    color: white;
    font-weight: bold;
  }

  /* Top border styles */
  .video-top-border {
    border: 1px solid black; /* Border */
    background-color: black; /* Black background */
    width: 80px; /* Width of the top border */
    height: 8px; /* Height of the top border */
    border-bottom-left-radius: 1rem; /* Rounded bottom corners */
    border-bottom-right-radius: 1rem; /* Rounded bottom corners */
  }

  /* Right border styles */
  .video-right-border {
    position: absolute;
    border: 4px solid black; /* Border */
    right: -8px; /* Positioning */
    border-radius: 0.375rem; /* Rounded corners */
  }

  /* Top right border */
  .video-right-border.top {
    top: 56px;
    height: 28px;
  }

  .section-pattern {
  background-color: #5a22f5;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}


/* previous service cards*/

/*.service-card {
  width: 300px;
  height: 125px;
  translate: -6px -6px;
  background: #4300fc;
  color: beige;
  border: 3px solid #000000;
  box-shadow: 12px 12px 0 #000000;
  overflow: hidden;
  transition: all 0.3s ease;
}


.service-head {
  width: 100%;
  height: 32px;
  font-weight: bold;
  background: #ffffff;
  padding: 5px 12px;
  color: #000000;
  border-bottom: 3px solid #000000;
}

.service-card:hover {
  translate: -6px;
}

*/

.service-content {
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}


/* Clases boton sección services */

.info-btn {
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  color: #5a22f5;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  cursor: pointer;
}

.gradient-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  
}

.label-btn {
  position: relative;
  top: -1px;
}



.transition-btn {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background: #3e4146;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.info-btn:hover .transition-btn {
  width: 14em;
  height: 14em;
}

.info-btn:hover .label-btn{
    color: aliceblue;
}

.info-btn:active {
  transform: scale(0.97);
}


/* css de página de servicios */


.service-info {
  width: 40%;
  height: 254px;
  background: #3e4146;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
  margin: 10 0 10 0;
}

.service-info:hover {
  width: 80%;
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  background: none;
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
  z-index: -1;
}

.service-info:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
  text-align: center;
  padding: 2px;
  z-index: 1;
}

.service-info:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

/* Código CSS de loader al lado de name en servicios */

.loader {
  --dim: 1.8rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #5a22f5; /* color del loader, puedes cambiarlo */
  --dim: 0.6rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }
  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }
  45%, 50% {
    transform: scale(1) rotate(180deg);
  }
  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }
  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}


